{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(eventFormCancelled) }}
    {{ form_widget(eventFormCancelled) }}
    <button type="submit">Cancel event</button>
    {{ form_end(eventFormCancelled) }}
{% endblock %}

{% block title %}

{% endblock %}

