{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(eventFormCancelled) }}
    {{ form_widget(eventFormCancelled) }}
    <button onclick="return confirm('Do you really want to canceled this event ?')" type="submit">Cancel event
    </button>
    {{ form_end(eventFormCancelled) }}
{% endblock %}

{% block title %}

{% endblock %}

