{% extends 'base.html.twig' %}
{% block title %}
    Create Event
{% endblock %}
{% block body %}
<div class="bg-[radial-gradient(circle,rgba(238,174,202,1)_12%,rgba(255,255,255,1)_100%)]
            min-h-screen
            flex items-center justify-center p-4">
    {% embed 'views/form/template-form.html.twig' with { form : eventForm } %}
        {% block formTitle %} Create an event ! {% endblock %}
        {% block buttonLabel %}
            <div class="btn-group flex gap-4 mt-4">
                {{ form_widget(form.save, {'attr':{'class':'
                border
                border-slate-200
                rounded-lg
                py-2
                px-4
                mt-2
                bg-violet-500
                cursor-pointer
                transition-colors
                hover:bg-violet-600
                text-white
'}}) }}
                {{ form_widget(form.publish, {'attr':{'class':'
                border
                border-slate-200
                rounded-lg
                py-2
                px-4
                mt-2
                bg-green-500
                cursor-pointer
                transition-colors
                hover:bg-green-600
                text-white
'}}) }}
                {{ form_widget(form.cancel, {'attr':{'class':'
                border
                border-slate-200
                rounded-lg
                py-2
                px-4
                mt-2
                bg-gray-300
                cursor-pointer
                transition-colors
                hover:bg-gray-600
                hover:text-white
'}}) }}
            </div>

        {% endblock %}
    {% endembed %}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'event/_dates_filters.js.html.twig' %}
{% endblock %}
