{% extends 'base.html.twig' %}
{% block title %}
    Create Event
{% endblock %}
{% block body %}
<div class="
            min-h-screen
            flex items-center justify-center p-4">
    <div
        class="absolute top-[0%] left-[40%] w-[300px] h-[600px] bg-[#33FF00]/15 rounded-[50%] blur-[50px] pointer-events-none -z-10"></div>

    <div
        class="absolute bottom-[-0%] left-[40%] w-[400px] h-[500px] bg-[#FF0099]/15 rounded-[50%] blur-[50px] pointer-events-none -z-10"></div>
    <div class="relative z-10 w-full">
    {% embed 'views/form/template-form.html.twig' with { form : eventForm } %}
        {% block formTitle %} Create an event ! {% endblock %}
        {% block buttonLabel %}
            <div class="btn-group flex gap-4 mt-4">
                {{ form_widget(form.save, {'attr':{'class':'
                border
                border-slate-200
                rounded-lg
                py-2
                px-4
                mt-2
                bg-[#7349F3]
                cursor-pointer
                transition-colors
                hover:bg-violet-600
                text-white
'}}) }}
                {{ form_widget(form.publish, {'attr':{'class':'
                border
                border-slate-200
                rounded-lg
                py-2
                px-4
                mt-2
                bg-green-500
                cursor-pointer
                transition-colors
                hover:bg-green-600
                text-white
'}}) }}
                {{ form_widget(form.cancel, {'attr':{'class':'
                border
                border-gray-300
                rounded-lg
                py-2
                px-4
                mt-2
                text-gray-700
                cursor-pointer
                transition-colors
                hover:bg-gray-50
'}}) }}
            </div>

        {% endblock %}
    {% endembed %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'event/_dates_filters.js.html.twig' %}
{% endblock %}
