{% extends 'base.html.twig' %}

{% block title %}Edit Campus{% endblock %}

{% block body %}
    <h2>Edit campus</h2>

    <section>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Update Campus</button>
        {{ form_end(form) }}
    </section>

{% endblock %}
