{# form-theme.html.twig #}

{# Bloc pour les champs normaux #}
{% block form_row %}
    <div class="mb-4">
        <div class="form-error">
            {{ form_errors(form) }}
        </div>
        <div class="form-label mb-2">
            {{ form_label(form, null, {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
        </div>
        <div class="form-widget">
            {{ form_widget(form) }}
        </div>
    </div>
{% endblock %}


