{% form_theme form 'views/form/form-theme.html.twig' %}

<h2>{% block formTitle %}{% endblock %}</h2>

{{ form_start(form) }}
{% block buttonLabel %}{% endblock %}
{{ form_rest(form) }}
{{ form_end(form) }}
